<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recept neve</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Recept kezelése <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Hozzávaló hozzáadása a bevásárlólistához</a></li>
                <li><a href="#">Recept módosítása</a></li>
                <li><a href="#">Recept törlése</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Részlet
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Hozzávalók
    </div>
</div>
